* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
  animation: fade-in 0.3s ease-in;
}

header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to right bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)),
    url("../images/nightsky.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;

  &::first-letter {
    font-size: 4.5rem;
  }

  img {
    position: absolute;
  }

  h1 {
    margin-bottom: 1rem;
    z-index: 4;
  }

  a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    background-color: purple;
    border-radius: 5px;
    z-index: 5;
  }
}

.title {
  text-align: center;
  margin: 2rem auto;
  font-size: 2rem;
}

section {
  text-align: center;
}

label {
  display: block;
  font-size: 1.4rem;
  padding: 1rem;
  margin: 0.2rem auto;
}

.sign-img {
  max-width: 100%;
  border: 2px solid gold;
}

.symbol {
  width: 64px;
}

.option-container {
  text-align: center;
  max-width: 90%;
  margin: 2rem auto 4rem;

  select {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    width: 130px;
    padding: 0.3rem 1rem;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid #444;
    border-radius: 15px;
    text-align: center;
  }

  option {
    background-color: purple;
    color: #fff;
  }
}

.result-container {
  max-width: 80%;
  margin: 2rem auto;
}

.zodiac-sign-container {
  text-align: center;
  letter-spacing: 1px;
  animation: fade-in 0.8s ease-in;

  h2 {
    font-size: 3rem;
    font-weight: lighter;
  }

  p {
    font-size: 1.2rem;
    margin: 1rem auto;
  }
}

.sign-name {
  font-family: "Lobster Two", cursive;
  margin-bottom: 1rem;

  h2 {
    letter-spacing: 2px;

    &::first-letter {
      color: purple;
      font-size: 3.5rem;
    }
  }
}

.sign-info {
  animation: toLeft 0.5s ease-in;
}

.zodiac-description {
  margin: 2rem auto;
  animation: toTop 0.5s ease-in;

  p {
    font-size: 1.3rem;
    line-height: 2.5rem;
  }

  .about-title {
    font-family: "Lobster Two", cursive;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;

    &::first-letter {
      font-size: 4rem;
      color: purple;
    }
  }
}

.content-1,
.content-2 {
  max-width: 80%;
  margin: 4rem auto;

  img {
    width: 100%;
  }

  h3 {
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-family: "Lobster Two",
      cursive;

    &::first-letter {
      font-size: 3.5rem;
      color: purple;

      margin-bottom: 2rem;
    }
  }

  p {
    font-size: 1.3rem;
    line-height: 2.5rem;
    margin: 1rem auto;
  }
}

.moon {
  top: 5%;
  left: 50%;
  animation: float 20s ease alternate infinite;
}

.cloud {
  top: 10%;
  left: 50%;
  animation: float 20s ease alternate infinite;
  z-index: 2;
}

.cloud2 {
  top: 50%;
  left: 50%;
  animation: cloud2 10s ease alternate infinite;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.cloud3 {
  top: 20%;
  right: 30%;
  animation: cloud3 30s ease alternate infinite;
  z-index: 2;
}

.cloud4 {
  top: 0%;
  right: 80%;
  animation: cloud4 25s ease alternate infinite;
  z-index: 2;
}

.cloud5 {
  top: 50%;
  left: 10%;
  animation: cloud5 15s ease alternate infinite;
}

.cloud6 {
  top: 80%;
  left: 90%;
  animation: cloud6 15s ease alternate infinite;
}

@media (min-width: 500px) {
  .sign-stat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

@media (min-width: 850px) {

  .content-1,
  .content-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
  }
}

@media (min-width: 1060px) {
  .zodiac-sign-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes toLeft {
  from {
    transform: translateX(300px);
  }

  to {
    tranform: translateX(0px);
  }
}

@keyframes toTop {
  from {
    transform: translateY(300px);
  }

  to {
    tranform: translateY(0px);
  }
}

@keyframes float {
  from {
    transform: translateX(-100px);
  }

  to {
    tranform: translateX(0px);
  }
}

@keyframes cloud2 {
  from {
    transform: translateX(200px);
  }

  to {
    tranform: translateX(0px);
  }
}

@keyframes cloud3 {
  from {
    transform: translateX(-700px);
  }

  to {
    tranform: translateX(0px);
  }
}

@keyframes cloud4 {
  from {
    transform: translateX(1000px);
  }

  to {
    tranform: translateX(0px);
  }
}

@keyframes cloud5 {
  from {
    transform: translateX(200px);
  }

  to {
    tranform: translateX(0px);
  }
}

@keyframes cloud6 {
  from {
    transform: translateX(-200px);
  }

  to {
    tranform: translateX(0px);
  }
}